// markdown {
//   color: #fff;
// }

:host ::ng-deep h1 {
  color: #3498db;
  /* Color azul para los encabezados h1 */
}

:host ::ng-deep h2 {
  color: #2ecc71;
  /* Color verde para los encabezados h2 */
}

:host ::ng-deep strong {
  text-decoration: underline;
}

:host ::ng-deep p {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 22px;
  margin: 0;
  /* Color verde para los encabezados h2 */
}

:host ::ng-deep a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

:host ::ng-deep img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

:host ::ng-deep ol {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

:host ::ng-deep ul {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

:host ::ng-deep ol>li {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 4px;
}

:host ::ng-deep ul>li {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;

}

.article {
  height: auto;
  width: 716px;

  &__title {
    font-size: 2.5rem;
  }
}

.information-post {
  height: auto;
  width: 320px;
  padding: 16px;
}

.informacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}

.card {
  background: rgba(17, 38, 66, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 306px;
  width: calc(50% - 8px);
  padding: 16px;

  &__space {
    margin-top: 19px;
  }
}

.public {
  &__date {
    text-transform: capitalize;
  }
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.chip {
  height: auto;
  width: auto;
  padding: 6px;
  border: 1px solid whitesmoke;
  border-radius: 6px;

  &__text {
    margin: 0;
  }
}
