<article class="card" (click)="goToArticle(article.title, article.canonical_url)" routerLink="/article" [queryParams]="{ id: article.id}">
  <div class="images">
    <img [src]="article.cover_image" [alt]="article.title" class="images__post" ngOptimizedImage />
    <img src="/assets/image/pipe-post.svg" alt="pipe posts" ngOptimizedImage class="images__pipe" />
  </div>
  <div class="container">
    <h2 class="container__title">{{ article.title }}</h2>
    <p class="container__description">
      {{ article.description }}
    </p>
  </div>
</article>
